@(students: Set[Student])
<!doctype html>
<html lang="en">
    <head>
        <title>Document</title>
    </head>
    <body>
        <h1>All Student</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Address</th>
            </tr>
            @for(student <- students) {
                <tbody>
                    <td> <a href="#">@student.name</a></td>
                    <td>@student.department</td>
                    <td>@student.department</td>
                    <td>@student.address</td>
                </tbody>
            }
        </table>
    </body>
</html>